* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.mantine-clzlhk .ql-editor {
    height: 100% !important;
    max-height: 400px !important;
    min-height: 100px !important;
    overflow: auto;
}
